# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode User Settings
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
**/.build/
**/.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
.vscode/
.idea/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Credential / Secret files
.netrc
*.pem
*.p12
*.key
Secrets/
Secrets.xcconfig

# Temporary Files
*.tmp
*~
*.swp
